streamlit-option-menu
langchain
langchain_chroma
langchain_community
langchain_core
langchain_openai
langchain_text_splitters
langchain_ollama
streamlit
chromadb
requests
pydub
playground
